*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
dl.sh

# Placeholder assets - real rootfs should be provided by user
app/src/main/assets/rootfs.7z
app/src/main/assets/rom.ini
